LinkedIn-Content-Automation/My workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1Ks7drJqbeB2WastInmOY0RlK8L2WID9neHUr0VKQUwA",
          "mode": "list",
          "cachedResultName": "n8n Linkedin ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ks7drJqbeB2WastInmOY0RlK8L2WID9neHUr0VKQUwA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ks7drJqbeB2WastInmOY0RlK8L2WID9neHUr0VKQUwA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        -192
      ],
      "id": "a5965030-16cb-420b-99a1-98b16ca2832e",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "UuhWtjv2GyaKpzW9",
          "name": "Google Sheets Trigger account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1dcd5f92-3a20-4a89-ab37-1d28b76d69c5",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        -192
      ],
      "id": "24a3ea7e-72fa-45cc-8f54-3f77f3d0ec4c",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -16,
        -208
      ],
      "id": "d1dd4513-32ca-40d6-8e59-5e2364b8e681",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1YtdUG1rvLy7SMFrBdbWJdS-9fLBI7TcZIa8gFrCfiW8/edit?tab=t.0#heading=h.rxakymbm0bg6"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        160,
        -208
      ],
      "id": "0f7c4e41-90bb-4d80-be39-708e679b2a93",
      "name": "Writing Style",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "qbNMQSlRWzPxNcMv",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a linkedIn post writer. \nFirst, carefully read the following writing style \nreference from the sheet:  {{ $json.content }}\n\nNow, create a LinkedIn post based on the following title: {{ $('Limit').item.json['Linkedin Post Title'] }}\n\nRespond only with a JSON object in exactly this format:\n{\n\"title\":\"{{ $('Limit').item.json['Linkedin Post Title'] }}\" ,\n\"Post\":\"<Your LinkedIn post here>\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        368,
        -224
      ],
      "id": "161a7b39-5f79-41a9-9c10-d4acd4471281",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        368,
        -32
      ],
      "id": "59e6a5a9-bd01-4681-bc24-2667f9fadb3a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "0Fh4fVbkHvH28Qpd",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": { \"type\": \"string\" },\n    \"post\": { \"type\": \"string\" }\n  },\n  \"required\": [\"title\",\"post\"],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        512,
        -32
      ],
      "id": "01bbbefc-0dad-4d50-9b07-a1d44365290e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfor (const item of items){\n  if (\n    item.json && \n    item.json.output &&\n    typeof item.json.output.post === \"string\"\n  ) {\n    item.json.output.post = item.json.output.post.replace(/\\\\n/g,\n    String.fromCharCode(10));\n  }}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        16
      ],
      "id": "f48d032b-008b-41bd-a61f-8cfdec4d2e66",
      "name": "Code"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash-exp-image-generation",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash-exp-image-generation"
        },
        "prompt": "=Create a high-quality, visually engaging image for a social media post based on the following test: {{ $('Limit').item.json['Linkedin Post Title'] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -176,
        16
      ],
      "id": "11e6fbaa-6f4b-4792-8021-193e4200120a",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": "0Fh4fVbkHvH28Qpd",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "name": "=linkedin_{{$now.format('YYYMMDD_HHmmss')}}.\n{{ $binary.data.fileExtension || 'png' }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1qYy393x-yM1g6fs_8zr46MJEo8PZ3CMH",
          "mode": "list",
          "cachedResultName": "n8n linkedin images",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1qYy393x-yM1g6fs_8zr46MJEo8PZ3CMH"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        32,
        16
      ],
      "id": "6d5f3eb0-9b71-4bf5-a3d9-1f585ea13665",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BB7MzgmXOiDDfXnN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        16
      ],
      "id": "08bd79c5-ae2f-4819-842f-04eda73c0cce",
      "name": "Share file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BB7MzgmXOiDDfXnN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Ks7drJqbeB2WastInmOY0RlK8L2WID9neHUr0VKQUwA",
          "mode": "list",
          "cachedResultName": "n8n Linkedin ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ks7drJqbeB2WastInmOY0RlK8L2WID9neHUr0VKQUwA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ks7drJqbeB2WastInmOY0RlK8L2WID9neHUr0VKQUwA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Limit').item.json.ID }}",
            "Status": "done",
            "imageUrl": "={{ $('Upload file').item.json.webViewLink }}",
            "post content": "={{ $('Code').item.json.output.post }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Linkedin Post Title",
              "displayName": "Linkedin Post Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imageUrl",
              "displayName": "imageUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "post content",
              "displayName": "post content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -400,
        240
      ],
      "id": "6356db20-f03c-4c00-ae27-2804163cf162",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "V305khJ2KE8MX773",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "sendAndWait",
        "guildId": {
          "__rl": true,
          "value": "1412521893139054759",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "1412524070389682307",
          "mode": "list",
          "cachedResultName": "linkedin-post-approval",
          "cachedResultUrl": "https://discord.com/channels/1412521893139054759/1412524070389682307"
        },
        "message": "=Hi Arun , \nHere's the linkedin post for  {{ $('Limit').item.json['Linkedin Post Title'] }} -\n{{ $('Code').item.json.output.post }}\n",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -224,
        240
      ],
      "id": "299f5a47-5f1f-4e1e-9167-1ccf8d888af6",
      "name": "Create a channel",
      "webhookId": "a3fe4546-f697-42e0-ae0c-803087087493",
      "credentials": {
        "discordOAuth2Api": {
          "id": "4BNKLnY9wo1n16QR",
          "name": "Discord account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c1309ee-09ae-4e85-9b6b-5602b4518472",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -48,
        240
      ],
      "id": "b226265d-41c1-4749-b6c1-c2fe95d7f3dc",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Update row in sheet').item.json.imageUrl }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        224
      ],
      "id": "8767b00c-8980-4150-b287-43fd988b4777",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BB7MzgmXOiDDfXnN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "person": "DhPMu-KDTH",
        "text": "={{ $('Update row in sheet').item.json['post content'] }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        400,
        224
      ],
      "id": "39316306-ed7d-41a5-bcdb-d08e34037ddf",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "DutfTY5BGogqo3hY",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Ks7drJqbeB2WastInmOY0RlK8L2WID9neHUr0VKQUwA",
          "mode": "list",
          "cachedResultName": "n8n Linkedin ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ks7drJqbeB2WastInmOY0RlK8L2WID9neHUr0VKQUwA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ks7drJqbeB2WastInmOY0RlK8L2WID9neHUr0VKQUwA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Limit').item.json.ID }}",
            "Status": "posted"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Linkedin Post Title",
              "displayName": "Linkedin Post Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imageUrl",
              "displayName": "imageUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "post content",
              "displayName": "post content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        224
      ],
      "id": "e2e8dad7-dd69-4175-a385-f474092a4382",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "V305khJ2KE8MX773",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Writing Style",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Writing Style": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Share file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share file": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Create a channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a channel": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f41944d3-ed54-4e3a-b05c-47515fe6e76d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "13242106475c13e10fe82fb121a4c07f1248f9f567864d21b4654dc4dfdef5ca"
  },
  "id": "YEXBPbhThRcMxGVZ",
  "tags": []
}